[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"

[packages]
requests = "*"
azure-functions = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "pipenv run flake8"
test = "pipenv run pytest"

[pipenv]
allow_prereleases = true
