[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
pytest = "*"

[packages]
requests = "*"
azure-functions = "*"
logquicky = "*"
applicationinsights = "*"

[requires]
python_full_verion = "3.9.0"

[scripts]
lint = "pipenv run flake8"
test = "pipenv run pytest"
check-hints = "pipenv run mypy ."
local = "pipenv run func start"

[pipenv]
allow_prereleases = true
